@import url("@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen {
  background: url("../img/first-screen/01.jpg") 50% no-repeat;
  color: #fff;
  height: 900px;
}
@media (max-width: 1180px) {
  .first-screen {
    height: 800px;
  }
}
@media (max-width: 992px) {
  .first-screen {
    height: 700px;
  }
}
@media (max-width: 767px) {
  .first-screen {
    height: auto;
  }
}

.container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0 10px;
}
@media (max-width: 1180px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.first-screen {
  padding: 40px 0;
}
.first-screen__menu {
  height: 59px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
@media (max-width: 767px) {
  .first-screen__menu {
    height: auto;
  }
}
.first-screen__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767px) {
  .first-screen__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.first-screen__list li {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .first-screen__list li {
    font-size: 24px;
    padding: 20px 0px;
  }
}
.first-screen__item_active {
  border-bottom: 2px solid #ffffff;
}
.first-screen__list li:last-child {
  padding: 0 0 0 20px;
}
@media (max-width: 767px) {
  .first-screen__list li:last-child {
    padding: 20px 0px;
  }
}
.first-screen__list li:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
.first-screen__link {
  display: block;
  height: 100%;
}
.first-screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 220px 0 0;
}
@media (max-width: 1180px) {
  .first-screen__body {
    padding: 220px 0 0;
  }
}
@media (max-width: 992px) {
  .first-screen__body {
    padding: 120px 0 0;
  }
}
@media (max-width: 767px) {
  .first-screen__body {
    padding: 30px 0 0;
  }
}
.first-screen__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .first-screen__name {
    font-size: 14px;
    padding: 10px;
  }
}
.first-screen__title {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  max-width: 829px;
  padding-bottom: 48px;
}
@media (max-width: 767px) {
  .first-screen__title {
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.2rem;
    padding: 20px 20px;
  }
}
@media (max-width: 440px) {
  .first-screen__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
  }
}
.first-screen__button {
  margin: 0 auto;
}

.button {
  display: block;
  width: 200px;
  background: #4985ff;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 0 36px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
}
.button:hover {
  background: #739ff6;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.45);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.45);
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services {
  padding: 67px 0;
}
@media (max-width: 767px) {
  .services {
    padding: 35px 0;
  }
}
@media (max-width: 440px) {
  .services {
    padding: 25px 0;
  }
}
.services__title {
  text-align: center;
  margin: 0 auto 50px;
  max-width: 739px;
}
@media (max-width: 767px) {
  .services__title {
    margin: 0 auto 30px;
  }
}
@media (max-width: 440px) {
  .services__title {
    margin: 0 auto 20px;
  }
}
.services__text {
  text-align: center;
  margin: 0 auto 70px;
  max-width: 739px;
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -13.5px 55px;
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 13.5px;
}
@media (max-width: 1180px) {
  .services__column {
    padding-bottom: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 767px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.services__button {
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}
@media (max-width: 767px) {
  .title {
    font-size: 26px;
    line-height: 40px;
  }
}
@media (max-width: 440px) {
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__image-border {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #4985ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 17px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__title {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 12px;
}
@media (max-width: 440px) {
  .item__title {
    font-weight: 400;
  }
}
.item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.about {
  background-color: #f6f6f8;
  padding: 0 0 112px;
}
.about__row {
  padding-bottom: 90px;
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1180px) {
  .about__row {
    padding-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 103px 56px 0 0;
}
@media (max-width: 1180px) {
  .about__body {
    padding: 103px 56px 0 0;
  }
}
@media (max-width: 992px) {
  .about__body {
    padding: 103px 0 0 0;
  }
}
@media (max-width: 767px) {
  .about__body {
    padding: 103px 0 0 0;
  }
}
.about__title {
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .about__title {
    text-align: center;
  }
}
.about__text {
  padding-bottom: 25px;
}
.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 51px 0 0 56px;
}
@media (max-width: 992px) {
  .about__image {
    padding: 45px 0 0 0;
    margin: 0 auto;
  }
}
.about__image img {
  max-width: 100%;
}
.link {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #4985ff;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  max-width: 920px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .numbers {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 50px;
  }
}
.numbers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
}
.numbers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 15px;
}
.numbers__image {
  width: 30px;
  height: 30px;
}
.numbers__image img {
  width: 100%;
}
.numbers__number {
  padding: 0 0 0 13px;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}
.numbers__title {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.all-services {
  position: relative;
  padding-bottom: 67px;
}
@media (max-width: 1180px) {
  .all-services {
    padding-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .all-services {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .all-services {
    padding-bottom: 30px;
  }
}
.all-services__background {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504dc2), color-stop(80.91%, #5f12d0)), #c4c4c4;
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
  top: 0;
  left: 0;
  width: 100%;
  height: 490px;
  z-index: -1;
}
@media (max-width: 1180px) {
  .all-services__background {
    height: 430px;
  }
}
@media (max-width: 992px) {
  .all-services__background {
    height: 380px;
  }
}
@media (max-width: 767px) {
  .all-services__background {
    height: 370px;
  }
}
.all-services__body {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 0 85px;
  border-bottom: 1px solid #e0e0e0;
}
@media (max-width: 1180px) {
  .all-services__body {
    padding: 0 0 55px;
  }
}
@media (max-width: 992px) {
  .all-services__body {
    padding: 0 0 35px;
  }
}
@media (max-width: 767px) {
  .all-services__body {
    padding: 0 0 25px;
  }
}
.all-services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 70px 0px;
}
@media (max-width: 1180px) {
  .all-services__header {
    padding: 80px 0px 60px 0px;
  }
}
@media (max-width: 992px) {
  .all-services__header {
    padding: 70px 0px 65px 0px;
  }
}
@media (max-width: 767px) {
  .all-services__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0px 40px 0px;
  }
}
.all-services__title {
  max-width: 530px;
  color: #fff;
}
@media (max-width: 767px) {
  .all-services__title {
    text-align: center;
    max-width: 100%;
    padding-bottom: 20px;
  }
}
.all-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 992px) {
  .all-services__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.all-services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .all-services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}
@media (max-width: 767px) {
  .all-services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.all-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.all-services__image img {
  width: 100%;
  border-radius: 10px;
}
.all-services__subtitle {
  font-weight: 600;
  font-size: 18px;
}
.all-services__subtitle span {
  color: #4985ff;
}